<!DOCTYPE html>
<html lang="en" ng-app="yatzy">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!-- VENDORS -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/ngFx/dist/ngFx.js"></script>

<!-- NAMESPACES -->
<script src="js/grillska-yatzy.js"></script>

<!-- YATZY SCRIPTS -->
<script src="js/grillska-yatzy/player.js"></script>
<script src="js/grillska-yatzy/dices.js"></script>
<script src="js/grillska-yatzy/game.js"></script>

<!-- ANGULAR SCRIPTS -->
<script src="app/app.js"></script>

<script src="app/newGame/newGame-directive.js"></script>
<script src="app/utils/SelectOnClick.js"></script>
<script src="app/yatzy/yatzy-factory.js"></script>


<!-- STYLES -->
<link rel="stylesheet" href="bower_components/uikit/dist/css/uikit.min.css">
<link rel="stylesheet" href="bower_components/uikit/dist/css/addons/uikit.addons.min.css">
<link rel="stylesheet" href="css/main.css">

<body ng-controller="main">
    <div class="container">
        <!-- <h1 id="title">{{meta.title}}</h1> -->

        <div ng-switch="getCurrentScreen()">
            <div ng-switch-when="newGame">
                <h1 id="title">{{meta.title}}</h1>
                <new-game callback="newGameCallback"></new-game>
            </div>

            <div ng-switch-when="game" class="uk-grid uk-grid-preserve game-view uk-width-1-1">
                <div class="uk-width-1-1 score-board">
                    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                        <tr>
                            <td>Spelare</td>

                            <th>Ettor</th>
                            <th>Tvåor</th>
                            <th>Treor</th>
                            <th>Fyror</th>
                            <th>Femmor</th>
                            <th>Sexor</th>

                            <th>Par</th>
                            <th>Tvåpar</th>
                            <th>Tretal</th>
                            <th>Fyrtal</th>
                            <th>Liten stege</th>
                            <th>Stor stege</th>
                            <th>Kåk</th>
                            <th>Chans</th>
                            <th>Yatzy!</th>
                        </tr>
                        <tr ng-repeat="player in yatzy.players">
                            <th>{{ player.name }}</th>

                            <td ng-click="yatzy.setDice($index, 'setOnes', 'ones')">
                                <span ng-if="player.ones === 0 || player.ones">{{ player.ones }}</span>
                                <span ng-if="!player.ones && player.ones !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setTwos', 'twos')">                            
                                <span ng-if="player.twos === 0 || player.twos">{{ player.twos }}</span>
                                <span ng-if="!player.twos && player.twos !== 0">-</span>
                            </td>

                            <td ng-click="yatzy.setDice($index, 'setThrees', 'threes')">                            
                                <span ng-if="player.threes === 0 || player.threes">{{ player.threes }}</span>
                                <span ng-if="!player.threes && player.threes !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setFours', 'fours')">                            
                                <span ng-if="player.fours === 0 || player.fours">{{ player.fours }}</span>
                                <span ng-if="!player.fours && player.fours !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setFives', 'fives')">                            
                                <span ng-if="player.fives === 0 || player.fives">{{ player.fives }}</span>
                                <span ng-if="!player.fives && player.fives !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setSixes', 'sixes')">                            
                                <span ng-if="player.sixes === 0 || player.sixes">{{ player.sixes }}</span>
                                <span ng-if="!player.sixes && player.sixes !== 0">-</span>
                            </td>


                            <td ng-click="yatzy.setDice($index, 'setPair', 'pair')">                            
                                <span ng-if="player.pair === 0 || player.pair">{{ player.pair }}</span>
                                <span ng-if="!player.pair && player.pair !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setTwoPair', 'twoPair')">                            
                                <span ng-if="player.twoPair === 0 || player.twoPair">{{ player.twoPair }}</span>
                                <span ng-if="!player.twoPair && player.twoPair !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setTriplet', 'triplet')">                            
                                <span ng-if="player.triplet === 0 || player.triplet">{{ player.triplet }}</span>
                                <span ng-if="!player.triplet && player.triplet !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setQuadruplet', 'quadruplet')">                            
                                <span ng-if="player.quadruplet === 0 || player.quadruplet">{{ player.quadruplet }}</span>
                                <span ng-if="!player.quadruplet && player.quadruplet !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setLadderSmall', 'ladderSmall')">                            
                                <span ng-if="player.ladderSmall === 0 || player.ladderSmall">{{ player.ladderSmall }}</span>
                                <span ng-if="!player.ladderSmall && player.ladderSmall !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setLadderLarge', 'ladderLarge')">                            
                                <span ng-if="player.ladderLarge === 0 || player.ladderLarge">{{ player.ladderLarge }}</span>
                                <span ng-if="!player.ladderLarge && player.ladderLarge !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setfullHouse', 'fullHouse')">                            
                                <span ng-if="player.fullHouse === 0 || player.fullHouse">{{ player.fullHouse }}</span>
                                <span ng-if="!player.fullHouse && player.fullHouse !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setChance', 'chance')">                            
                                <span ng-if="player.chance === 0 || player.chance">{{ player.chance }}</span>
                                <span ng-if="!player.chance && player.chance !== 0">-</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setYatzy', 'yatzy')">                            
                                <span ng-if="player.yatzy === 0 || player.yatzy">{{ player.yatzy }}</span>
                                <span ng-if="!player.yatzy && player.yatzy !== 0">-</span>
                            </td>
                        </tr
                        >
                    </table>
                </div>

                <div class="container uk-grid uk-grid-preserve">
                    <div ng-include="'partials/dice.html'" class="uk-width-1-2"></div>
                    <div class="uk-width-1-2">
                        <h2>{{ getCurrentPlayer().name }}s tur</h2>
                        <h3>{{ getInstruction() }}</h3>

                        <div ng-if="isControlsVisible()">
                            <button 
                                class="uk-button" 
                                ng-click="yatzy.roll()" 
                                ng-disabled="!yatzy.dices.allowRoll()" 
                                ng-show="yatzy.dices.allowRoll()">Kasta tärningarna!</button>
                        </div>

                        <span ng-switch="yatzy.dices.remainingRolls()">
                            <p ng-switch-when="0">Du har inga kast kvar. Välj vart du vill sätta ditt värde i tabellen ovan!</p>
                            <p ng-switch-default>Du har {{ yatzy.dices.remainingRolls() }} kast kvar</p>
                        </span>

                        <span ng-if="yatzy.state === yatzy.states['NEXT_PLAYER']">
                            <button ng-click="yatzy.nextPlayer()" class="uk-button">Nästa spelare</button>
                        </span>

                    </div>
                </div>

            </div>

        </div>

    </div>
</body>

</html>
