<!DOCTYPE html>
<html lang="en" ng-app="yatzy" class="green-bg">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<!-- VENDORS -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/ngFx/dist/ngFx.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>

<!-- NAMESPACES -->
<script src="js/grillska-yatzy.js"></script>

<!-- YATZY SCRIPTS -->
<script src="js/grillska-yatzy/player.js"></script>
<script src="js/grillska-yatzy/dices.js"></script>
<script src="js/grillska-yatzy/game.js"></script>

<!-- ANGULAR SCRIPTS -->
<script src="app/app.js"></script>

<script src="app/newGame/newGame-directive.js"></script>
<script src="app/dice/dice.js"></script>
<script src="app/utils/SelectOnClick.js"></script>
<script src="app/yatzy/yatzy-factory.js"></script>


<!-- STYLES -->
<link rel="stylesheet" href="bower_components/uikit/dist/css/uikit.min.css">
<link rel="stylesheet" href="bower_components/uikit/dist/css/addons/uikit.addons.min.css">
<link rel="stylesheet" href="css/main.css">

<link href='http://fonts.googleapis.com/css?family=Bevan&text=Yatzy!' rel='stylesheet' type='text/css'>

<body ng-controller="main">
    <div class="container">
        <!-- <h1 id="title">{{meta.title}}</h1> -->

        <div ng-switch="getCurrentScreen()">
            <div ng-switch-when="newGame">
                <h1 id="title">{{meta.title}}</h1>
                <new-game callback="newGameCallback"></new-game>
            </div>

            <div ng-switch-when="game" class="uk-grid uk-grid-preserve game-view uk-width-1-1 uk-height-1-1 ">
                <h1 id="titleInGame">{{meta.title}}</h1>
                <div class="uk-width-1-1 score-board">
                    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                        <tr>
                            <th>Spelare</th>

                            <th>Ettor</th>
                            <th>Tvåor</th>
                            <th>Treor</th>
                            <th>Fyror</th>
                            <th>Femmor</th>
                            <th>Sexor</th>

                            <th>Par</th>
                            <th>Tvåpar</th>
                            <th>Tretal</th>
                            <th>Fyrtal</th>
                            <th>Liten stege</th>
                            <th>Stor stege</th>
                            <th>Kåk</th>
                            <th>Chans</th>
                            <th>Yatzy!</th>

                            <th>Total</th>
                        </tr>
                        <tr ng-repeat="player in yatzy.players">
                            <th>{{ player.name }}</th>

                            <td ng-click="yatzy.setDice($index, 'setOnes', 'ones')" ng-mouseenter="oneHint = true" ng-mouseleave="oneHint = false">
                                <span ng-if="player.ones === 0 || player.ones">{{ player.ones }}</span>
                                <!-- <span ng-if="!player.ones && player.ones !== 0 && !oneHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.one && player.one !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!oneHint}">{{ yatzy.getDice($index, 'getOnes', 'ones') }}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setTwos', 'twos')" ng-mouseenter="twosHint = true" ng-mouseleave="twosHint = false">
                                <span ng-if="player.twos === 0 || player.twos">{{ player.twos }}</span>
                                <!-- <span ng-if="!player.twos && player.twos !== 0 && !twosHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.twos && player.twos !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!twosHint}">{{yatzy.getDice($index, 'getTwos', 'twos')}}</span>
                            </td>

                            <td ng-click="yatzy.setDice($index, 'setThrees', 'threes')" ng-mouseenter="threesHint = true" ng-mouseleave="threesHint = false">
                                <span ng-if="player.threes === 0 || player.threes">{{ player.threes }}</span>
                                <!-- <span ng-if="!player.threes && player.threes !== 0 && !threesHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.threes && player.threes !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!threesHint}">{{yatzy.getDice($index, 'getThrees', 'threes')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setFours', 'fours')" ng-mouseenter="foursHint = true" ng-mouseleave="foursHint = false">
                                <span ng-if="player.fours === 0 || player.fours">{{ player.fours }}</span>
                                <!-- <span ng-if="!player.fours && player.fours !== 0 && !foursHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.fours && player.fours !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!foursHint}">{{yatzy.getDice($index, 'getFours', 'fours')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setFives', 'fives')" ng-mouseenter="fivesHint = true" ng-mouseleave="fivesHint = false">
                                <span ng-if="player.fives === 0 || player.fives">{{ player.fives }}</span>
                                <!-- <span ng-if="!player.fives && player.fives !== 0 && !fivesHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.fives && player.fives !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!fivesHint}">{{yatzy.getDice($index, 'getFives', 'fives')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setSixes', 'sixes')" ng-mouseenter="sixesHint = true" ng-mouseleave="sixesHint = false">
                                <span ng-if="player.sixes === 0 || player.sixes">{{ player.sixes }}</span>
                                <!-- <span ng-if="!player.sixes && player.sixes !== 0 && !sixesHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.sixes && player.sixes !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!sixesHint}">{{yatzy.getDice($index, 'getSixes', 'sixes')}}</span>
                            </td>


                            <td ng-click="yatzy.setDice($index, 'setPair', 'pair')" ng-mouseenter="pairHint = true" ng-mouseleave="pairHint = false">
                                <span ng-if="player.pair === 0 || player.pair">{{ player.pair }}</span>
                                <!-- <span ng-if="!player.pair && player.pair !== 0 && !pairHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.pair && player.pair !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted': !pairHint}">{{yatzy.getDice($index, 'getPair', 'pair')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setTwoPair', 'twoPair')" ng-mouseenter="twoPairHint = true" ng-mouseleave="twoPairHint = false">
                                <span ng-if="player.twoPair === 0 || player.twoPair">{{ player.twoPair }}</span>
                                <!-- <span ng-if="!player.twoPair && player.twoPair !== 0 && !twoPairHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.twoPair && player.twoPair !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!twoPairHint}">{{yatzy.getDice($index, 'getTwoPair', 'twoPair')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setTriplet', 'triplet')" ng-mouseenter="tripletHint = true" ng-mouseleave="tripletHint = false">
                                <span ng-if="player.triplet === 0 || player.triplet">{{ player.triplet }}</span>
                                <!-- <span ng-if="!player.triplet && player.triplet !== 0 && !tripletHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.triplet && player.triplet !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!tripletHint}">{{yatzy.getDice($index, 'getTriplet', 'triplet')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setQuadruplet', 'quadruplet')" ng-mouseenter="quadrupletHint = true" ng-mouseleave="quadrupletHint = false">
                                <span ng-if="player.quadruplet === 0 || player.quadruplet">{{ player.quadruplet }}</span>
                                <!-- <span ng-if="!player.quadruplet && player.quadruplet !== 0 && !quadrupletHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.quadruplet && player.quadruplet !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!quadrupletHint}">{{yatzy.getDice($index, 'getQuadruplet', 'quadruplet')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setLadderSmall', 'ladderSmall')" ng-mouseenter="ladderSmallHint = true" ng-mouseleave="ladderSmallHint = false">
                                <span ng-if="player.ladderSmall === 0 || player.ladderSmall">{{ player.ladderSmall }}</span>
                                <!-- <span ng-if="!player.ladderSmall && player.ladderSmall !== 0 && !ladderSmallHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.ladderSmall && player.ladderSmall !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!ladderSmallHint}">{{yatzy.getDice($index, 'getLadderSmall', 'ladderSmall')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setLadderLarge', 'ladderLarge')" ng-mouseenter="ladderLargeHint = true" ng-mouseleave="ladderLargeHint = false">
                                <span ng-if="player.ladderLarge === 0 || player.ladderLarge">{{ player.ladderLarge }}</span>
                                <!-- <span ng-if="!player.ladderLarge && player.ladderLarge !== 0 && !ladderLargeHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.ladderLarge && player.ladderLarge !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!ladderLargeHint}">{{yatzy.getDice($index, 'getLadderLarge', 'ladderLarge')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setfullHouse', 'fullHouse')" ng-mouseenter="fullHouseHint = true" ng-mouseleave="fullHouseHint = false">
                                <span ng-if="player.fullHouse === 0 || player.fullHouse">{{ player.fullHouse }}</span>
                                <!-- <span ng-if="!player.fullHouse && player.fullHouse !== 0 && !fullHouseHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.fullHouse && player.fullHouse !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!fullHouseHint}">{{yatzy.getDice($index, 'getfullHouse', 'fullHouse')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setChance', 'chance')" ng-mouseenter="chanceHint = true" ng-mouseleave="chanceHint = false">
                                <span ng-if="player.chance === 0 || player.chance">{{ player.chance }}</span>
                                <!-- <span ng-if="!player.chance && player.chance !== 0 && !chanceHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.chance && player.chance !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!chanceHint}">{{yatzy.getDice($index, 'getChance', 'chance')}}</span>
                            </td>
                            
                            <td ng-click="yatzy.setDice($index, 'setYatzy', 'yatzy')" ng-mouseenter="yatzyHint = true" ng-mouseleave="yatzyHint = false">
                                <span ng-if="player.yatzy === 0 || player.yatzy">{{ player.yatzy }}</span>
                                <!-- <span ng-if="!player.yatzy && player.yatzy !== 0 && !yatzyHint && yatzy.turn === $index">-</span> -->
                                <span ng-if="(!player.yatzy && player.yatzy !== 0) && yatzy.turn === $index" ng-class="{'uk-text-muted':!yatzyHint}">{{yatzy.getDice($index, 'getYatzy', 'yatzy')}}</span>
                            </td>

                            <td>
                                <span>
                                    {{ player.getTotal() }}
                                </span>
                            </td>
                        </tr
                        >
                    </table>
                </div>

                    <div class="uk-width-1-1 flexy">
                        <div class="uk-width-1-3 padding" style="padding: 0">
                                <div class="red-bg">
                                    <div>
                                        <h2 ng-if="yatzy.dices.remainingRolls() !== 0 && yatzy.dices.remainingRolls() !== 3" class=" uk-text-center uk-margin-top">Markera de tärningarna du vill behålla</h2>
                                        <h2 ng-if="yatzy.dices.remainingRolls() === 3" class="uk-text-center uk-margin-top ">Kasta tärningarna!</h2>
                                        <h2 ng-if="yatzy.dices.remainingRolls() === 0" class="uk-text-center uk-margin-top ">Sätt in ditt värde i tabellen!</h2>
                                    </div>
                                </div>
                                <ul ng-if="yatzy.dices.remainingRolls() !== 3 && yatzy.state !== yatzy.states['NEXT_PLAYER']" class="dice-list no-padding fx-zoom-normal">
                                       <li ng-repeat="dice in yatzy.dices.dices" class="dice-container" ng-click="dice.locked = !dice.locked">
                                            <span ng-class="{'locked': dice.locked && canRoll()}" style="position:relative">
                                                <dice value="dice.value"></dice>
                                                <span class="uk-icon-lock uk-icon-large lock" ng-if="dice.locked && canRoll()"></span>
                                            </span>
                                       </li>
                                </ul>
                        </div>
                        <div class="uk-width-1-3 padding" style="padding: 0">
                            <div class="red-bg">
                                <h2 class="uk-text-center uk-margin-top">{{ getCurrentPlayer().name }}s tur</h2>
                            </div>

                            <div class="red-bg padding uk-margin-top">
                                <h3>{{ getInstruction() }}</h3>
                                                        
                                <div ng-if="isControlsVisible()">
                                    <button 
                                        class="uk-button uk-button-secondary" 
                                        ng-click="yatzy.roll()" 
                                        ng-disabled="!yatzy.dices.allowRoll()" 
                                        ng-show="yatzy.dices.allowRoll()"
                                        ng-class="{'uk-button-primary': true}">Kasta tärningarna!</button>
                                </div>
                                                        
                                <span ng-switch="yatzy.dices.remainingRolls()">
                                    <p ng-switch-when="0" ng-if="yatzy.state !== yatzy.states['NEXT_PLAYER']">Du har inga kast kvar. Välj vart du vill sätta ditt värde i tabellen ovan!</p>
                                    <p ng-switch-default>Du har {{ yatzy.dices.remainingRolls() }} kast kvar</p>
                                </span>
                                                        
                                <span ng-if="yatzy.state === yatzy.states['NEXT_PLAYER']">
                                    <button ng-click="yatzy.nextPlayer()" class="uk-button uk-button-primary">Nästa spelare</button>
                                </span>
                            </div>
                        
                            <div class="red-bg padding uk-margin-top">
                                <a href="http://www.spelregler.org/yatzy-regler/" target="_blank" class="uk-text-small">(Hjälp! Hur spelar jag yatzy!?)</a>
                            </div>
                        
                        </div>
                    </div>
                </div>

        </div>

    </div>
</body>

</html>
