<div class="panel-new-game">
    <div class="badge-player">
        <button 
            class="uk-button uk-button-primary" 
            ng-click="addPlayer()" 
            ng-show="allowMore()" 
            ng-disabled="!allowMore()">
            <i class="uk-icon-plus"></i> Add New Player
        </button>
    </div>
    <div class="uk-flex uk-flex-center uk-flex-bottom">

        <div ng-repeat="player in players" class="badge-player repeat-zoom">
            <form class="badge-header uk-form">
                <h3 class="uk-text-bottom uk-margin-bottom-remove">Name</h3>
                <input type="text" ng-model="player.name">
            </form>
        </div>
    </div>
</div>

<style>
    .uk-flex-spacearound {
        justify-content: space-around;
    }

    .mute {
        opacity: 0.7;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }

    .repeat-zoom {
        -webkit-transition: ease 0.2;
        -o-transition: ease 0.2;
        transition: ease 0.2;
    }

    .repeat-zoom.ng-leave.ng-leave-active, .repeat-zoom.ng-move, .repeat-zoom.ng-enter {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);

        max-height: 0;
    }

    .repeat-zoom.ng-leave, .repeat-zoom.ng-move.ng-move-active, .repeat-zoom.ng-enter.ng-enter-active {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);

        max-height: 1000%;

    }

</style>